.background-section {
    background-color: aqua;
    background-position: center;
    background-image: url("../img/bg-login.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-login {
    background-color: rgba(4, 84, 85, 0.8);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 60px;
    border-radius: 40px;
    width: 340px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login input::placeholder {
    color: #025557;
}
.form-login input {
    width: 300px;
    color: #025557;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0px solid #025557;
}
.form-login button {
    color: #025557;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
    border: 0px solid #025557;
}
.container-login a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}
.text-center {
    text-align: center;
    font-weight: bold;
}
